# =========================
# GLOBAL
# =========================
.DS_Store
.env
*.swp
*.tmp

# =========================
# HOME ASSISTANT
# =========================

# Runtime interno (NO versionar)
**/homeassistant/config/.storage/
**/homeassistant/config/deps/

# Base de datos
**/homeassistant/config/*.db*
**/homeassistant/config/*.db-shm
**/homeassistant/config/*.db-wal

# Logs
**/homeassistant/config/*.log*
**/homeassistant/config/home-assistant.log*

# =========================
# MOSQUITTO
# =========================

# Persistencia
**/mosquitto/data/

# Logs
**/mosquitto/log/

# =========================
# DOCKER
# =========================

# Overrides locales (opcional)
docker-compose.override.yml

# =========================
# FUTURO (firmware / builds)
# =========================
build/
dist/
*.bin
*.elf
fase2/docker/homeassistant/config/.ha_run.lock
fase2/docker/homeassistant/config/home-assistant.log*
